body {
    text-align: center;
    color: blue;
    background-color: rgb(255, 170, 121);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.AAAA {
    color:white;
}

p {
    font-size: 28px;
}

h1 {
    font-size: 72px;
}